* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

body {
    display: flex;
    height: 100vh;
}

.bouton {
    background: #377cc6;
    border: 0;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.bouton:hover {
    background: #3b88db;
}

#users {
    background: #222;
    width: 300px;
    padding-top: 50px;
}

#conversation-courante {
    background: #333;
    width: calc(100vw - 300px);
    position: relative;
}

#users > .user {
    padding: 5px 30px;
}
#users > .user:hover {
    cursor: pointer;
    background: #333;
}

#conversation-courante .titre {
    background: #222;
    padding: 20px;
    height: 27.5px;
}
#conversation-courante .messages {
    height: calc(100vh - 167.5px);
    overflow-y: scroll;
}
#conversation-courante .messages :last-child {
    margin-bottom: 40px;
}
#conversation-courante .astuce {
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
    text-align: center;
    font-weight: normal;
}

#conversation-courante .message {
    background: #555;
    margin: 20px 20px 0 20px; 
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
}
#conversation-courante .mon.message {
    background: #3f328c;
    position: relative;
    left: calc(100% - 580px);
    /* TODO: adapter le `left` lorsque le message fait moins de 500px */
}
#conversation-courante #saisie-message {
    background: #222;
    height: 100px;
}
#conversation-courante #saisie-message .champ-message {
    background: #222;
    padding: 20px;
    color: #eee;
    border: 0;
    display: inline-block;
    width: calc(100% - 140px);
}
#conversation-courante #saisie-message .bouton {
    max-width: 80px;
    padding: 10px 20px;
}